<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <!-- Display the error message if it exists -->
        <!-- {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %} -->
        <p style="color: red;" id="error"></p>
        <form id="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up here</a></p>
    </div>

    <script>
        document.getElementById('login-form').addEventListener('submit', async function (e) {
            e.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: new URLSearchParams({ username, password })
            });

            const result = await response.json();
            if (response.ok) {
                document.cookie = "auth=" + result.access_token + "; path=/";
                window.location.href = '/posts';
            } else {
                // alert(result.message);
                document.getElementById('error').innerHTML = "Invalid credentials";
            }
        });
    </script>
</body>
</html>
